{% assign bss-b2b-enable-form = true %}{% assign bss-b2b-include-password = false %}
        <script id="bss-b2b-wholesaler-form">
        if (typeof BSS_B2B == 'undefined') {
            var BSS_B2B = {};
        }
        BSS_B2B.formDataRender = [{"type":"header","subtype":"h2","label":"Team Information","access":false,"placement":"top"},{"type":"text","required":false,"label":"Team Name","className":"form-control","name":"text-1722012522794-0","access":false,"subtype":"text","placement":"top"},{"type":"text","required":false,"label":"Years Racing","className":"form-control","name":"text-1722012538797","access":false,"subtype":"text","placement":"top"},{"type":"checkbox-group","required":false,"label":"Race Discipline","toggle":false,"inline":false,"name":"checkbox-group-1722012664263-0","access":false,"other":false,"values":[{"label":"Off Road","value":"off-road","selected":false},{"label":"Short Course","value":"short-course","selected":false},{"label":"UTV (Add Year/Make/Model in notes)","value":"utv","selected":false},{"label":"Rally","value":"rally","selected":false}],"placement":"top"},{"type":"text","required":false,"label":"Sanctioning / Series Racing In","placeholder":"series","className":"form-control","name":"text-1722012777731","access":false,"subtype":"text","placement":"top"},{"type":"text","required":false,"label":"Classes Competing In","placeholder":"classes","className":"form-control","name":"text-1722012814453","access":false,"subtype":"text","placement":"top"},{"type":"textarea","required":false,"label":"Product Wishlist","placeholder":"what lights you want","className":"form-control","name":"textarea-1722013013757-0","access":false,"subtype":"textarea","placement":"top"},{"type":"header","subtype":"h2","label":"Team Contact","access":false,"placement":"top"},{"type":"header","subtype":"h2","label":"Driver Information","access":false,"placement":"bottom"},{"type":"text","required":true,"label":"Driver Name","className":"form-control","name":"text-1722013203818-0","access":false,"subtype":"text","placement":"bottom"},{"type":"text","required":false,"label":"Driver Phone","className":"form-control phone-field","name":"phone-field","access":false,"subtype":"text","placement":"bottom"},{"type":"text","subtype":"email","required":false,"label":"Driver Email","className":"form-control","name":"text-1722013239437-0","access":false,"placement":"bottom"},{"type":"textarea","required":true,"label":"Driver Instagram handle:","className":"form-control","name":"textarea-1722012167373-0","access":false,"subtype":"textarea","placement":"bottom"},{"type":"select","required":false,"label":"Driver Shirt Size","className":"form-control","name":"select-1722013314392-0","access":false,"values":[{"label":"Medium","value":"medium","selected":false},{"label":"Large","value":"large","selected":false},{"label":"X-Large","value":"xl","selected":false},{"label":"XX-Large","value":"xxl","selected":true}],"placement":"bottom"},{"type":"header","subtype":"h2","label":"Team Shipping Address","access":false,"placement":"bottom"},{"type":"text","required":true,"label":"Address","className":"form-control address-field","name":"address-field","access":false,"subtype":"text","placement":"bottom"},{"type":"text","required":false,"label":"Address 2","className":"form-control apartment-field","name":"apartment-field","access":false,"subtype":"text","placement":"bottom"},{"type":"autocomplete","required":true,"label":"Country","className":"form-control country-field","name":"country-field","access":false,"requireValidOption":false,"values":[{"label":"","value":"","selected":false}],"placement":"bottom"},{"type":"text","required":true,"label":"City","className":"form-control city-field","name":"city-field","access":false,"subtype":"text","placement":"bottom"},{"type":"select","label":"State","className":"form-control state-field","name":"state-field","access":false,"values":[{"label":"","value":"","selected":false}],"placement":"bottom"},{"type":"text","required":true,"label":"Zip","className":"form-control zip-field","name":"zip-field","access":false,"subtype":"text","placement":"bottom"},{"type":"file","required":true,"label":"Race Vehicle Photo","className":"form-control","name":"file-1706027150611-0","access":false,"placement":"bottom"}];
        BSS_B2B.formId = 26043;
        BSS_B2B.reCAPCHA = 1;
        BSS_B2B.CAPCHA_SITE_KEY = "6LcYPEgbAAAAAKEQdimI1PPA4vuOJHxNb5p6eLUo";
        BSS_B2B.status = 1;
        BSS_B2B.created_account = 0;
        BSS_B2B.redirect_url = "";
        BSS_B2B.taxExempt = 0;
        BSS_B2B.formPrivacyPolicyStatus = 0;
        BSS_B2B.formPrivacyPolicyContent = `<p>By clicking Create, I confirm that I have read and accepted the <a href="/">privacy policy</a></p>`;
        BSS_B2B.conditionalLogic = [];
        </script>
            <style>#RegisterForm input[type="submit"] {
    width: fit-content !important;
    padding: 16px 24px !important;
    height: auto !important;
    margin: auto !important;
    margin-top: 10px !important;
    background-color: #000 !important;
    color: #fff !important;
    font-size: 18px !important;
border-radius: 8px;
}
.page-width {
margin: 0px 20px;
}
.page-width .grid{
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 22px;
    color: rgb(86, 86, 86);
    font-weight: bold;
    max-width: 650px;
    margin-top: 40px;
    border-color: rgba(97,97,97,1);
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    background: #FFF;
}
#RegisterForm select,
#RegisterForm textarea,
#RegisterForm input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
    border: 1px solid #7D7D7D;
    background-color: rgba(238,238,238,1) !important;
    color: #333 !important;
    font-weight: normal;
    font-style: normal;
    border-radius: 6px;
}
#RegisterForm input:not([type="checkbox"]):not([type="radio"]) { 
    height: 32px;
    padding: 6px 12px;
}
#RegisterForm .field {
display: block !important;
}
#RegisterForm label {
font-size: 14px;
font-weight: 500;
}
.bss-grid-2 {
    display: grid;
    grid-template-columns: calc(50% - 14px) calc(50% - 14px);
    column-gap: 28px;
}
#RegisterForm input[type=checkbox], input[type=radio] {
appearance: auto !important;
height: auto;
    width: auto;
    display: block;
    position: unset;
}
.formbuilder-checkbox {
    display: flex;
}
@media screen and (max-width: 750px) {
.bss-grid-2 {
display: block;
}
}
.page-width h1 {
    line-height: normal;
}
.g-recaptcha {
    display: flex;
    justify-content: center;
}
label[for='RegisterForm-FirstName']:after, label[for='RegisterForm-email']:after {
    content: '*';
    color: #e95144;
}</style>
            <div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="rte">
                {{ page.content }}
            </div>
        </div>
{% if bss-b2b-enable-form %}
  <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
    <div class="form-vertical">
      {%- assign formId = 'RegisterForm' -%}
      {% form 'create_customer', id: formId %}
        <div id="bss-b2b-registration-form-top"></div>
        <div class="field">
          <label for="{{ formId }}-FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input
            type="text"
            name="customer[first_name]"
            id="{{ formId }}-FirstName"
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
            autocomplete="given-name" />
        </div>
        <div class="field {{ formId }}-LastName">
          <label for="{{ formId }}-LastName">{{ 'customer.register.last_name' | t }}</label>
          <input
            type="text"
            name="customer[last_name]"
            id="{{ formId }}-LastName"
            {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
            autocomplete="family-name" />
        </div>
        <div class="field {{ formId }}-email">
          <label for="{{ formId }}-email">{{ 'customer.register.email' | t }}</label>
          <input
            type="email"
            name="customer[email]"
            id="{{ formId }}-email"
            class="{% if form.errors contains 'email' %} input--error{% endif %}"
            {% if form.email %}
            value="{{ form.email }}"
            {% endif %}
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            {%- if form.errors contains 'email' -%}
            class="input--error"
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            {%- endif -%}>
        </div>
        {%- if form.errors contains 'email' -%}
          <span id="{{ formId }}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }}
            </span>
            {% include 'icon-error' %}
            <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
          </span>
        {%- endif -%}
        {%- if bss-b2b-include-password == true -%}
          <div class="field {{ formId }}-password">
            <label for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>
            <input
              type="password"
              name="customer[password]"
              id="{{ formId }}-password"
              class="{% if form.errors contains 'password' %} input--error{% endif %}"
              aria-required="true"
              {%- if form.errors contains 'password' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-password-error"
              {%- endif -%}>
          </div>
        {%- endif -%}
        {%- if form.errors contains 'password' and bss-b2b-include-password == true -%}
          <span id="{{ formId}}-password-error" class="input-error-message">
            {% include 'icon-error' %}
            <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
          </span>
        {%- endif -%}
        <div id="bss-b2b-registration-form-render"></div>
        <p class="text-center">
          <input
            type="submit"
            value="{{ 'customer.register.submit' | t }}"
            class="btn">
        </p>
      {% endform %}
    </div>
  </div>
{% endif %}
    </div>
</div>