{% assign bss-b2b-enable-form = true %}{% assign bss-b2b-include-password = false %}
        <script id="bss-b2b-wholesaler-form">
        if (typeof BSS_B2B == 'undefined') {
            var BSS_B2B = {};
        }
        BSS_B2B.formDataRender = [{"type":"text","required":true,"label":"Address","className":"form-control address-field","name":"address-field","access":false,"subtype":"text","placement":"bottom"},{"type":"text","required":false,"label":"Apartment/suite/etc.","className":"form-control apartment-field","name":"apartment-field","access":false,"subtype":"text","placement":"bottom"},{"type":"text","required":true,"label":"City","className":"form-control city-field","name":"city-field","access":false,"subtype":"text","placement":"bottom"},{"type":"text","required":true,"label":"Zip","className":"form-control zip-field","name":"zip-field","access":false,"subtype":"text","placement":"bottom"},{"type":"select","label":"State","className":"form-control state-field","name":"state-field","access":false,"values":[{"label":"","value":"","selected":false}],"placement":"bottom"},{"type":"autocomplete","required":true,"label":"Country","className":"form-control country-field","name":"country-field","access":false,"requireValidOption":false,"values":[{"label":"","value":"","selected":false}],"placement":"bottom"},{"type":"text","required":true,"label":"Product SKU(s)","className":"form-control","name":"text-1707247917688-0","access":false,"subtype":"text","placement":"bottom"},{"type":"file","required":true,"label":"Invoice","className":"form-control","name":"file-1707247921086-0","access":false,"placement":"bottom"}];
        BSS_B2B.formId = 24982;
        BSS_B2B.reCAPCHA = 0;
        BSS_B2B.CAPCHA_SITE_KEY = "6LcYPEgbAAAAAKEQdimI1PPA4vuOJHxNb5p6eLUo";
        BSS_B2B.status = 1;
        BSS_B2B.created_account = 0;
        BSS_B2B.redirect_url = "";
        BSS_B2B.taxExempt = 0;
        BSS_B2B.formPrivacyPolicyStatus = 0;
        BSS_B2B.formPrivacyPolicyContent = `<p>By clicking Create, I confirm that I have read and accepted the <a href="/">privacy policy</a></p>`;
        BSS_B2B.conditionalLogic = [];
        </script>
            <style>null</style>
            <div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="rte">
                {{ page.content }}
            </div>
        </div>
{% if bss-b2b-enable-form %}
  <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
    <div class="form-vertical">
      {%- assign formId = 'RegisterForm' -%}
      {% form 'create_customer', id: formId %}
        <div id="bss-b2b-registration-form-top"></div>
        <div class="field">
          <label for="{{ formId }}-FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input
            type="text"
            name="customer[first_name]"
            id="{{ formId }}-FirstName"
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
            autocomplete="given-name" />
        </div>
        <div class="field {{ formId }}-LastName">
          <label for="{{ formId }}-LastName">{{ 'customer.register.last_name' | t }}</label>
          <input
            type="text"
            name="customer[last_name]"
            id="{{ formId }}-LastName"
            {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
            autocomplete="family-name" />
        </div>
        <div class="field {{ formId }}-email">
          <label for="{{ formId }}-email">{{ 'customer.register.email' | t }}</label>
          <input
            type="email"
            name="customer[email]"
            id="{{ formId }}-email"
            class="{% if form.errors contains 'email' %} input--error{% endif %}"
            {% if form.email %}
            value="{{ form.email }}"
            {% endif %}
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            {%- if form.errors contains 'email' -%}
            class="input--error"
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            {%- endif -%}>
        </div>
        {%- if form.errors contains 'email' -%}
          <span id="{{ formId }}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }}
            </span>
            {% include 'icon-error' %}
            <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
          </span>
        {%- endif -%}
        {%- if bss-b2b-include-password == true -%}
          <div class="field {{ formId }}-password">
            <label for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>
            <input
              type="password"
              name="customer[password]"
              id="{{ formId }}-password"
              class="{% if form.errors contains 'password' %} input--error{% endif %}"
              aria-required="true"
              {%- if form.errors contains 'password' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-password-error"
              {%- endif -%}>
          </div>
        {%- endif -%}
        {%- if form.errors contains 'password' and bss-b2b-include-password == true -%}
          <span id="{{ formId}}-password-error" class="input-error-message">
            {% include 'icon-error' %}
            <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
          </span>
        {%- endif -%}
        <div id="bss-b2b-registration-form-render"></div>
        <p class="text-center">
          <input
            type="submit"
            value="{{ 'customer.register.submit' | t }}"
            class="btn">
        </p>
      {% endform %}
    </div>
  </div>
{% endif %}
    </div>
</div>